@import 'bootstrap/scss/bootstrap';

// reset

ul, li {
    list-style: none;
    color: currentColor;
    margin: 0;
}

h1,h2,h3 {
    margin: 0;
}

p {
    margin: 0px;
}

.btn {
    border-radius: 0;
}

// style

.container--sm {
    width: 1024px;
    padding: 0;
    margin: auto;
}

// common
.text--gray {
    color: #E8E8E8;
}

// blog72x.jpg blog82x.jpg

